body {
  text-align: center;
  background-color: grey;
}

h2,
.icon-menu {
  background-color: yellow;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: green;
  }
  h2 {
    background-color: white;
    font-size: 8vw;
  }
}